<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoji Art</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='emojiArt.css') }}">
</head>

<body>
    <div class="container">
        <h1>Upload Image to Create Emoji Art</h1>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
            {{ form.hidden_tag() }}
            {{ form.file }}
            {{ form.grid_width }}
            {{ form.submit }}
        </form>

        {% if emoji_html %}
            <p>Processing Time: {{ processing_time }} seconds</p>
            <p></p>
            {{ emoji_html | safe }}
        {% endif %}
    </div>
</body>
</html>
